@page "/loa/Party"
@inject ServerCounterService ServerCounterService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<MudLayout>
    <MudContainer>
        <div style="min-height:20px; width:100%; height:100%;">
            <div style="width:300px; height:100%; margin: auto;">
                <AdFit AdUnitID="DAN-wR90sc9rXA7z5nJB" />
            </div>
        </div>
        <MudStack AlignItems="AlignItems.Center" Row="true">
            <MudButton OnClick="(e)=>{Raid8Click();}" Variant="Variant.Filled" Color="Color.Error">@(IsEnglish ? "8-player raid" : "8인 레이드")</MudButton>
            <MudButton OnClick="(e)=>{Raid16Click();}" Variant="Variant.Filled" Color="Color.Error">@(IsEnglish ? "16-player raid" : "16인 레이드")</MudButton>
            <MudButton OnClick="(e)=>{ChangeLanguage();}" Variant="Variant.Filled" Color="Color.Error">@(IsEnglish ? "English" : "한국어")</MudButton>
            <MudText Typo="Typo.h4">@(Is8Raid ? (IsEnglish ? "8-player raid" : "8인 레이드") : (IsEnglish ? "16-player raid" : "16인 레이드"))</MudText>
            <MudSpacer />
            <MudText style="height:100%; text-align:center;">@($"{(ServerCounterService.CounterValue == 0 ? "" : ServerCounterService.CounterValue)}")</MudText>
        </MudStack>
        @if (Is8Raid == false)
        {
            <MudGrid>
                @for (int i = 0; i < 4; i++)
                {
                    <LoaPartyComponent Order="i" IsRaid8="false" IsEnglish="@IsEnglish"></LoaPartyComponent>
                }
            </MudGrid>
        }
        else
        {
            <MudGrid>
                @for (int i = 0; i < 2; i++)
                {
                    <LoaPartyComponent Order="i" IsRaid8="true" IsEnglish="@IsEnglish"></LoaPartyComponent>
                }
            </MudGrid>
        }
    </MudContainer>
</MudLayout>


@code {
    bool Is8Raid { get; set; } = false;
    bool IsEnglish { get; set; } = false;

    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            string guid = await localStorage.GetItemAsStringAsync("GUID") ?? string.Empty; ;
            if (string.IsNullOrEmpty(guid))
            {
                guid = Guid.NewGuid().ToString();
                await localStorage.SetItemAsStringAsync("GUID", guid);
            }
            ServerCounterService.Add(guid);
            await this.InvokeAsync(() => { StateHasChanged(); });
        }
        base.OnAfterRender(firstRender);
    }

    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        if (dropItem.DropzoneIdentifier.ToLower() == "delete")
        {
            if (dropItem.Item != null)
            {
                _items.Remove(dropItem.Item);
            }
        }
    }

    private void Raid8Click()
    {
        Is8Raid = true;
        StateHasChanged();
    }

    private void Raid16Click()
    {
        Is8Raid = false;
        StateHasChanged();
    }

    private void ChangeLanguage()
    {
        IsEnglish = !IsEnglish;
        StateHasChanged();
    }

    private List<DropItem> _items = new()
    {
        new DropItem(){ Name = "ㄷㄷㄷㅍ", Identifier = "Item" },
        new DropItem(){ Name = "ㄷㄷㄷㄷ", Identifier = "Item" },
        new DropItem(){ Name = "ㄷㄷㅍㅍ", Identifier = "Item" },
        new DropItem(){ Name = "ㄷㄷㄷㄷ", Identifier = "Item" },

    };

    public class DropItem
    {
        public string Name { get; init; } = string.Empty;
        public string Identifier { get; set; } = string.Empty;
    }
}